.title {
    text-align: center;
}
.photo {
    width: 33,333;
    display: flex;
}
.photo img {
    width: 20%;
    padding: 2px;
}
.popup {
    text-align: center;
    padding: 20px;
    background: gray;
    opacity: 99%;
    margin: -550px;
}